#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
}

.labelSpan {
  width: 80px;
  display: inline-block;
  text-align: left;
}

.countSpan {
  width: 50px;
  display: inline-block;
  textAlign: center;
}

.playerList {
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 1;
}
.initialInput {
max-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.top-selected {
  border-top-style: solid;
}

.bottom-selected {
  border-bottom-style: solid;
}

.left-selected {
  border-left-style: solid;
}

.right-selected {
  border-right-style: solid;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: unset;
}
td {
  width: 50px;
  position: relative;
}
td.content {
  aspect-ratio: 1 / 1 ;
  border-style: dashed;
  overflow: hidden;
}

