#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
}

.labelSpan {
  width: 80px;
  display: inline-block;
  text-align: left;
}

.countSpan {
  width: 50px;
  display: inline-block;
  textAlign: center;
}

.playerList {
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 1;
}
.initialInput {
max-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.top-selected {
  border-top-style: solid;
}

.bottom-selected {
  border-bottom-style: solid;
}

.left-selected {
  border-left-style: solid;
}

.right-selected {
  border-right-style: solid;
}

.top-unselected {
  border-top-style: dashed;

}
.left-unselected {
  border-left-style: dashed;

}
.right-unselected {
   border-right-style: dashed;

 }
.bottom-unselected {
     border-bottom-style: dashed;

  }
table {
  border-collapse: collapse;
  border-spacing: unset;
  table-layout: fixed;
  max-width: 60vw;
  max-height: 60vw;
}
table.tr{
  max-height:50px;
}
table.td {
  aspect-ratio: 1 / 1 ;
  width: 50px;
  position: relative;
}


button.content {
  font-size: 1em !important;
  aspect-ratio: 1 / 1 !important;
  max-width: 50px !important;
  max-height: 50px !important;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding:0px;
}


