#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
}

.labelSpan {
  width: 80px;
  display: inline-block;
  text-align: left;
}

.countSpan {
  width: 50px;
  display: inline-block;
  textAlign: center;
}

.playerList {
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 1;
}
.initialInput {
max-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.top-selected {
  border-top-style: solid !important;
}

.bottom-selected {
  border-bottom-style: solid !important;
}

.left-selected {
  border-left-style: solid !important;
}

.right-selected {
  border-right-style: solid !important;
}

button.content {
  min-width: 100%;
  min-height: 100%;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  /*text-overflow: ellipsis;*/
  box-sizing: border-box;
  /*vertical-align: middle;*/
  outline: none;
  box-shadow: none;
  border-width: 0;

}

.dynamic-table {
  display: grid;
  border-collapse: collapse;
  border-width: 0;


  & > * {
    border-style: dashed;
    /*background-color: cyan;*/
    border-collapse: collapse;
  }
}

button:focus {outline: none !important;
  border: transparent !important;

}
button:focus-visible {outline: none !important;
  border: transparent !important;
}
button:active {outline: none !important;
  border: transparent !important;
}
button:hover {
  background-color: #213547;
  border: transparent !important;
  outline: none !important;
}




/*Giant gap between columns*/
/*Border collapse ignored*/
/*Still changing size when clicked*/